<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cybersecurity Awareness</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ab et reprehenderit officiis nemo eaque provident accusantium cumque delectus quisquam facilis debitis totam sed hic explicabo voluptatem, consectetur eius tempore.
</body>
</html>