<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/emergency/fir">
        <h1>File a fir</h1>
    </a>

    <a href="/emergency/callForm">
        <h1>call emergency services</h1>
    </a>
</body>
</html>