<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex; flex-direction: row; gap: 25px;">
        <h1>LSPD</h1>
        <span style="margin-top: 1.5vw;">    
            <a href="/report">Submit Report</a>
            <a href="/emergency">Emergency</a>
            <a href="/cybersecurity">cybersecurity portal</a>
        </span>
    </nav>
</body>
</html>