<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
</head>
<body>
    <h1 class="heading">REGISTER</h1>
    <form action="/register" method="post" class="form">
        <input type="text" placeholder="Name" name="name" class="input" required>
        <input type="email" placeholder="Email Address" name="email" class="input" required>
        <input type="password" placeholder="Password" name="password" class="input" id="pwd" required>
        <button type="submit" class="button">Submit</button>
    </form>
</body>
</html>