<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/emergency/fir" method="post">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="crime" id="crime"placeholder="crime">
        <input type="text" name="location" id="location"placeholder="location">
        <input type="text" name="suspect" id="suspect" placeholder="suspect">
        <input type="number" name="suspectNum" id="suspectNum" placeholder="suspectNum">
        <input type="number" name="phone" id="phone" placeholder="phone">
        <input type="email" name="suspectMail" id="suspectMail" placeholder="suspectMail">
        <input type="email" name="email" id="email" placeholder="email">
        <button type="submit"> Submit</button>
    </form>
</body>
</html>